.hero-head
  %nav#landing-page.navbar{'aria-label' => 'main navigation', :role => 'navigation'}
    = render 'partials/navbar'
.hero-body
  .container.has-text-centered.is-flex
    .columns.is-vcentered
      .column
        %h1.title.is-1
          Say goodbye
        %h2.subtitle.is-4
          To tedious, time-consuming calendar management
%section.container
  .columns.features
    .column.is-4
      .card
        .card-image.has-text-centered
          %i.fa.fa-list
        .card-content
          .content
            %h4 Bulk add calendar events
            %p
              Add events using our convenient spreadsheet interface, or copy/paste
              from your existing local spreadsheets.
            %p
              %a{:href => 'auth/google_oauth2'} Sign in and try it out
    .column.is-4
      .card
        .card-image.has-text-centered
          %i.fa.fa-calendar-check-o
        .card-content
          .content
            %h4 View your calendar
            %p
              See your newly created events in daily, weekly, or monthly views.
              Hover over events to see key event information.
            %p
              %a{:href => 'auth/google_oauth2'} Sign in and try it out
    .column.is-4
      .card
        .card-image.has-text-centered
          %i.fa.fa-pencil-square-o
        .card-content
          .content
            %h4 Plan out your days
            %p
              Create custom weekly, reoccurring events to plan your your days.
              Get alerts to your phone to keep you on track.
            %p
              %a{:href => 'auth/google_oauth2'} Sign in and try it out

  .intro.column.is-8.is-offset-2
    %h2.title The perfect tool for professional coordinators and organizers
    %br/
    %p.subtitle
      Save valuable time and money by bulk adding your calendar events.
      Spend that time unlocking your true potential at work.
%footer.footer
  .container
    .content.has-text-centered
      %p
        %strong A passion project
        by
        %a{:href => 'https://mjbell.io'} Matthew Bell
      %p
        %a.icon{:href => 'https://github.com/foozie3moons/handsome-scheduler'}
          %i.fa.fa-github.fa-2x
        &nbsp;
        %a.icon{:href => 'https://linkedin.com/in/matthew-bell-290'}
          %i.fa.fa-linkedin.fa-2x
