%aside.menu
  %p.menu-label
    Calendars
  %ul.menu-list
    - if @calendar_list
      - @calendar_list.items.each do |calendar|
        - @show = "/events/#{calendar.id}"
        - @new = "/events/#{calendar.id}/new"
        %li
          = link_to calendar.summary, @show, class: is_active?(@show)
          - if (is_active?(@show).eql?('is-active') || is_active?(@new).eql?('is-active'))
            %ul
              %li
                = link_to 'Add Events', @new, class: is_active?(@new)
