.hero-head
  %nav#landing-page.navbar{"aria-label" => "main navigation", :role => "navigation"}
    = render 'partials/navbar'
.hero-body
  .container.has-text-centered
    .columns.is-vcentered
      .column
        %h1.title
          The new standard in &lt;insert industry here&gt;
        %h2.subtitle
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
.box.cta
  %p.has-text-centered
    %span.tag.is-primary New
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
%section.container
  .columns.features
    .column.is-4
      .card
        .card-image.has-text-centered
          %i.fa.fa-paw
        .card-content
          .content
            %h4 Tristique senectus et netus et.
            %p Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec. Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac ut consequat semper viverra nam.
            %p
              %a{:href => "#"} Learn more
    .column.is-4
      .card
        .card-image.has-text-centered
          %i.fa.fa-id-card-o
        .card-content
          .content
            %h4 Tempor orci dapibus ultrices in.
            %p Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque. Sed arcu non odio euismod lacinia at quis risus. Faucibus turpis in eu mi bibendum neque egestas cmonsu songue. Phasellus vestibulum lorem sed risus.
            %p
              %a{:href => "#"} Learn more
    .column.is-4
      .card
        .card-image.has-text-centered
          %i.fa.fa-rocket
        .card-content
          .content
            %h4 Leo integer malesuada nunc vel risus.
            %p Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim enim. Libero id faucibus nisl tincidunt eget nullam. Commodo viverra maecenas accumsan lacus vel facilisis.
            %p
              %a{:href => "#"} Learn more
  .intro.column.is-8.is-offset-2
    %h2.title Perfect for developers or designers!
    %br/
    %p.subtitle Vel fringilla est ullamcorper eget nulla facilisi. Nulla facilisi nullam vehicula ipsum a. Neque egestas congue quisque egestas diam in arcu cursus.
  .sandbox
    .tile.is-ancestor
      .tile.is-parent
        %article.tile.is-child.notification.is-white
          %p.title Hello World
          %p.subtitle What is up?
      .tile.is-parent
        %article.tile.is-child.notification.is-white
          %p.title Foo
          %p.subtitle Bar
      .tile.is-parent
        %article.tile.is-child.notification.is-white
          %p.title Third column
          %p.subtitle With some content
          .content
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
    .tile.is-ancestor
      .tile.is-vertical.is-8
        .tile
          .tile.is-parent.is-vertical
            %article.tile.is-child.notification.is-white
              %p.title Vertical tiles
              %p.subtitle Top box
            %article.tile.is-child.notification.is-white
              %p.title Vertical tiles
              %p.subtitle Bottom box
          .tile.is-parent
            %article.tile.is-child.notification.is-white
              %p.title Middle box
              %p.subtitle With an image
              %figure.image.is-4by3
                %img{:src => "http://bulma.io/images/placeholders/640x480.png"}/
        .tile.is-parent
          %article.tile.is-child.notification.is-white
            %p.title Wide column
            %p.subtitle Aligned with the right column
            .content
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
      .tile.is-parent
        %article.tile.is-child.notification.is-white
          .content
            %p.title Tall column
            %p.subtitle With even more content
            .content
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.
              %p Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.
              %p Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.
    .tile.is-ancestor
      .tile.is-parent
        %article.tile.is-child.notification.is-white
          %p.title Side column
          %p.subtitle With some content
          .content
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
      .tile.is-parent.is-8
        %article.tile.is-child.notification.is-white
          %p.title Main column
          %p.subtitle With some content
          .content
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
%footer.footer
  .container
    .content.has-text-centered
      %p
        %strong Bulma Templates
        by
        = succeed "." do
          %a{:href => "https://github.com/dansup"} Daniel Supernault
        = succeed "." do
          %a{:href => "http://opensource.org/licenses/mit-license.php"} MIT
      %p
        %a.icon{:href => "https://github.com/dansup/bulma-templates"}
          %i.fa.fa-github
