// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bulma";
@import "font-awesome";

.google-blue {
  color: #4885ed;
}

.navbar {
  border-bottom: 2px solid rgba(0,0,0,0.7)
}

.calendar-container {

}

#calendar {
  width: 100vh;
}

.container.has-text-centered {
  display: flex;
}

.calendar-tooltip {
  border-radius: 5px;
  padding: .5rem;
  background: lightblue;
  position: absolute;
  z-index: 10001;
}

aside.menu {
  overflow-x: hidden;
  overflow-y: auto;
}

.column#aside {
  border-right: 2px solid lightgrey;
}

.columns {
  padding: 1rem;
}

aside.menu a:not(.is-active):hover {
  background-color: rgba(0,0,0,.1);
}
